*.aux
*.log
*.out
*.bak
*.dvi
*.toc
*.swp
.directory
*.zip
*.plc
*.pls
*.pro
*.drd
*.dri
*.gpi
*.silk
*.sol
*.stc
*.sts
*.ger
*.new
*.drd
*.dri
*.cmp
*.xln
*.csv
*.rep
*.cmp
XBP.b#?
XBP.s#?
*.b#?
*.s#?
